/* .welcome-text__layout {
	margin-top: 5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.welcome-text__container {
	text-align: left;
	display: inline-block;
}

.welcome-text__container > p {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0;
}

.welcome-text__container h1 {
	font-family: 'JetBrains Mono', monospace;
	font-size: 4rem;
}

.typed-effect__container > h1 {
	margin: 0.25em 0;
	padding: 0.3em 0;
	overflow: hidden;
	border-right: solid 1px #fff;
	white-space: nowrap;
	animation: typing 7.5s steps(42, end) infinite forwards,
		blink-caret 1s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #fff;
	}
}

.welcome-bio {
	width: 40%;
	max-width: 40%;
	font-weight: 500;
}

.social-media__items {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.social-media__items a {
	text-decoration: none;
}

.social-media__item > button:hover {
	cursor: pointer;
}

.social-media__item > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	width: 100px;
} */

.welcome {
	padding: 4em;
	margin-top: 8em;
	display: flex;
	flex-direction: column;
	row-gap: 8em;
	margin-bottom: 5em;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
}

.welcome__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1.5em;
}

.welcome-text__layout {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.welcome-text__container {
	text-align: left;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.welcome-text__container > p {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 0;
}

.welcome-text__container h1 {
	font-family: 'JetBrains Mono', monospace;
	font-size: 6rem;
	font-weight: 900;
}

.stroke {
	-webkit-text-stroke-width: 2px;
	-moz-text-stroke-width: 2px;
	-webkit-text-stroke-color: #333333;
	-moz-text-stroke-color: #333333;
	color: transparent;
}

.typed-effect__container > h1 {
	text-shadow: 6px 6px #99c1ff;
	margin: 0.15em 0;
	padding: 0.5em 0;
	overflow: hidden;
	border-right: solid 1px #333333;
	white-space: nowrap;
	animation: typing 5.5s steps(44, end) infinite,
		blink-caret 0.3s step-end infinite alternate;
}

/* .typed-effect__container > h1 {
	margin: 0.25em 0;
	padding: 0.3em 0;
	overflow: hidden;
	border-right: solid 1px black;
	white-space: nowrap;
	animation: typing 5.5s steps(44, end) infinite forwards,
		blink-caret 0.7s step-end infinite;
} */

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #333333;
	}
}

.welcome-bio {
	width: 50%;
	max-width: 50%;
	font-weight: 500;
}

.social-media__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1em;
}

.social-media__items a {
	text-decoration: none;
}

.social-media__item button {
	background-color: white;
	color: black;
	border: 1px solid black;
}

.social-media__item > button:hover {
	cursor: pointer;
	box-shadow: black -3px 3px;
}

.social-media__item > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	width: 100px;
}
