@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/webfonts/JetBrainsMono-Regular.woff2') format('.woff2');
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem 3rem;

    font-family: 'Inter', monospace;
    font-weight: 600;
    background: #fff6ef;
    color: black;

    /* Hide scrollbar */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/* Hide scrollbar in Chrome, Safari, Opera but keeps the functionality */
body::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}
